{% extends "base.html" %}
{% load static %}

{% block contenido %}
<div class="container col-md-12">
    <h2 class="my-4 text-center text-lg-left">Nuevo Mensaje</h2>
    <form action="{% url 'create_messege' id_post %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <label for="exampleFormControlTextarea1" class="form-label">Para: {{destinatario}}</label>
            <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="6"></textarea>
            <input name="user_recept" value="{{id_destinatario}}" hidden />
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-success md-12">Enviar</button>
        </div>
    </form>
</div>
{% endblock %}